<div class="topbar">
    <h1>File Share</h1>
    <div class="links">
        <% if (user) { %>
            <span>Welcome, <%= user.username %></span>
            <a href="/file/upload">Upload File</a>
            <a href="/users/logout">Logout</a>
        <% } else { %>
            <a href="/users/signup">Sign Up</a>
            <a href="/users/login">Login</a>
        <% } %>
    </div>
</div>